@import url('https://fonts.googleapis.com/css?family=Gayathri|Great+Vibes|Kaushan+Script|Pathway+Gothic+One|Teko&display=swap');

header {
    overflow-x: hidden;
    background: #3984ff linear-gradient(to bottom, #404040, #2159e9);
}

:root {
    --Gayathri-font:"Gayathri",cursive;
    --Great:"Great",cursive;
    --Kaushan:"Kaushan",cursive;
    --Pathway:"Pathway",cursive;
    --Teko:"Teko",cursive;
    --light-black: #2e2c2caf;
    --light-gray:rgba(255,255,255,0.5);
}

header a {
    font-size: 1.5em;
    color: whitesmoke;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    font-size: 1.25em;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 2rem;
}

header .nav-link:hover {
    color: black;
}

header .newRow .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .newRow .col-md-7 {
    font: var(--Great);
    color: white;
}

header .newRow .img {
    margin-top: -500px;
    margin-right: 220px;
    float: right;
    width: 10%;
}

header .con .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .con .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0;
}

header .con .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .con .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}

header .collapse form button {
    background-color: white;
    color: #434444;
    border: white;
    margin-right: 50px;
    height: 40px;
    width: 7.5em;
    font-weight: bold;
}

header .collapse form button:hover {
    background-color: #2159e9;
    border: #2159e9;
}

header .collapse form input {
    width: 60%;
    padding-left: 70px;
    margin-right: 50px;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 500px;
        vertical-align: middle;
    }
}

.popup {
    background: rgba(0, 0, 0, 0.76);
    padding-top: 230px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content .loginBox {
    margin-top: 50%;
    margin-left: 50%;
}

.loginBox {
    width: 320px;
    height: 420px;
    background: rgba(22, 22, 22, 0.74);
    color: #fff;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}

.loginBox .close {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.loginBox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginBox p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox label {
    align-items: center;
    align-content: center;
}

.loginBox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    padding-left: 35%;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #00BFFF;
    color: #34495e;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
    cursor: pointer;
    background: #FF0000;
    color: white;
}

.loginBox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}

.loginBox a:hover {
    color: aqua;
}

.popup2 {
    background: rgba(0, 0, 0, 0.76);
    padding-top: 230px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.wrapper .close2 {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.wrapper {
    font-family: "Agency FB", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.wrapper .left {
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
}

.wrapper .left img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.wrapper .left h4 {
    margin-bottom: 5px;
    font-size: 23px;
}

.wrapper .left h2 {
    font-size: 22px;
}

.wrapper .right {
    width: 65%;
    background: rgba(200, 200, 200, 0.73);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info {
    margin-bottom: 25px;
}

.wrapper .right .info h4 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1d2124;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info .data p {
    font-size: 25px;
    font-family: "Agency FB", sans-serif;
}

.wrapper .right .info .data p>span {
    color: white;
    font-size: 22px;
}

.wrapper .right .info .edit {
    margin-left: 30px;
    font-family: "Agency FB", sans-serif;
    color: white;
    padding: 12px;
    border-radius: 5px;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    border: none;
}

.wrapper .right .info .edit:hover {
    background: linear-gradient(to right, #ff582a, #df1c23);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.popup3 {
    background: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -125px;
}

.editProfile .close3 {
    position: absolute;
    top: -130px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}


.editProfile {
    margin-top: -125px;
    background: rgba(21, 30, 43, 0.85);
    width: 250px;
}

.editProfile .h2 {
    color: white;
}

.editProfile form {
    width: 240px;
    height: 520px;
    text-align: center;
}

.editProfile input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 210px;
    color: white;
    font-size: 16px;
}

.editProfile button {
    margin-top: 20px;
    border: none;
    width: 190px;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    color: white;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.editProfile button:hover{
    background: linear-gradient(to right, #ff582a, #df1c23);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

