main {
    font-family: 'Oswald', sans-serif;
}

:root {
    --textColor: #444444;
    --gray: #343434;
    --bg: rgba(167, 167, 167, 0.6);
    --pgb: #42c8cb;
    --pgt: #6bffc8;
    --dot: #349a98;
    --bgb: #ff4164;
    --bgt: #ff886b;
    --bdot1: #59e8c8;
    --bdot2: #ffee71;
    --bdot3: #6654af;
    --bdot4: #343434;
    --bdot5: #dfdfdf;
    --star: #fe6067;
    --discount: #fe6168;
}

main {
    background-color: var(--bg);
    height: 130vh;
    margin: auto;
    display: flex;
    color: var(--textColor);
}

.container {
    margin: 30px;
    padding-top: 65px;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main h5 {
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main a {
    text-decoration: none;
    color: var(--gray);
}

.product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--pgt) 0%, var(--pgb) 100%);
    border-radius: 20px 20px 0 0;
    padding: 55px 0;
    width: 100%;
    margin: auto;
}

.product-pic {
    max-width: 180px;
    position: relative;
    left: 0;
    margin: 40px 0;
    filter: drop-shadow(-6px 40px 23px rgba(0,0,0, 0.5));
}

.product-logo {
    height: 40px;
    width: 40px;
}

.product-details {
    padding-left: 100px;
    padding-right: 50px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.product-details .title {
    text-transform: uppercase;
    margin: 0;
}

.product-details .colorCat {
    text-transform: uppercase;
    font-style: italic;
    color: var(--gray);
    font-weight: 700;
    font-size: 14px;
}

.product-details .price {
    font-weight: 700;
    margin-top: 5px;
    font-size: 18px;
}

.product-details .price .before {
    text-decoration: line-through;
}

.product-details .price .current {
    color: var(--discount);
    margin-left: 6px;
}

.top {
    margin-bottom: 50px;
    position: relative;
}

article h5 {
    margin: 0;
    font-size: 25px;
}

article p {
    color: var(--gray);
    margin: .5em 0;
    font-size: 16px;
    line-height: 1.6;
}

.controls {
    margin: 3em 0;
}

.controls div {
    flex: 1;
}

.controls .option {
    margin-top: 12px;
    display: inline-block;
    position: relative;
}

.controls .option:hover {
    color: var(--textColor);
}

.controls::before {
    content: '';
    position: absolute;
    border-width: 2px 2px 0 0;
    border-style: solid;
    top: 0;
    bottom: 0;
    height: 5px;
    width: 5px;
    right: -18px;
    margin: auto;
    transform: rotate(135deg);
}

.controls div+div {
    margin-top: 20px;
    flex: none;
}

.controls ul {
    display: flex;
    margin: 15px 5px;
}

.color li+li {
    margin-left: 15px;
}

.colors {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
}

.color .color-bdot1 {
    background-color: var(--bdot1);
}

.color .color-bdot2 {
    background-color: var(--bdot2);
}

.color .color-bdot3 {
    background-color: var(--bdot3);
}

.color .color-bdot4 {
    background-color: var(--bdot4);
}

.color .color-bdot5 {
    background-color: var(--bdot5);
}

.colors:hover {
    box-shadow: 0 0 0 3px white, 0, 0 , 0, 5px var(--bg);
}

.top .rate {
    position: static;
    margin-top: 10px;
}

.top .rate a {
    font-size: 18px;
    color: var(--gray);
}

.top .rate a .active:hover {
    color: var(--star);
}

.dots {
    display: flex;
    margin-top: 40px;
}

.dots a {
    background-color: var(--dot);
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
}

.dots a:hover .active {
    background-color: white;
}

.dots i {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer button {
    display: flex;
    border: 0;
    padding: 12px 25px;
    margin-bottom: 12px;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(to bottom, var(--bgt) 0%, var(--bgb) 100%);
    box-shadow: 0 10px 30px 0 rgba(var(--bgt), 0.7);
    transition: 200ms;
}

.footer button:hover {
    background: linear-gradient(to bottom, var(--bgb) 0%, var(--bgt) 100%);
}

.footer button img {
    width: 31px;
}

.footer button span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.footer .btnBuy {
    background: linear-gradient(to bottom, var(--pgt) 0%, var(--pgb) 100%);
}

.product-details .rate {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-top: 0;
}

.controls div .quantity{
    width: 60px;
}

.controls div+div {
    border-left: 2px solid rgba(var(--gray), .5);
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    margin-top: 0;
}

.controls {
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;
}

.product-image {
    border-radius: 20px 0 0 20px;
    max-width: 330px;
}

.product-pic {
    left: -40px;
    max-width: 330px;
}

.product-details {
    width: 100%;
    border-radius: 0 20px 20px 0;
}
